{% extends 'base.html' %}
{% block content %}
<p>Welcome to Social Justice Fund NW's grant and fundraising apps.</p>

<h3><a href="/apply">Online grant application</a></h3>

<p>Apply for a grant from SJFNW. More information can be found on the SJFNW website: <a href="http://socialjusticefund.org/apply-grant">apply for a grant</a>.</p>

<h3><a href="/fund">Project Central</a></h3>

<p>Fundraising tool for <a href="http://socialjusticefund.org/giving-projects">Giving Project</a> members.</p>

<br><br><br>
<p><i>For more information, visit <a href="http://socialjusticefund.org">socialjusticefund.org</a>.</i></p>
{% endblock %}
