{% extends "admin/index.html" %}

{% block sidebar %}
<div class="content-related">
  <div class="module" id="links-module">
    <h2>Links</h2>
    <h3><a href="/fund" target="_blank">Project Central</a></h3>
    <h3><a href="/apply" target="_blank">Grant Application</a></h3>
    <h3><a href="/admin/grants/search" target="_blank">Run a grants report</a></h3>
    <h3><a href="/admin/grants/givingprojectgrant/yer-status" target="_blank">YER status report</a></h3>
    <br>
  </div>
  <div class="module" id="report-module">
    <h2>Report a problem</h2>
    <h3><a href="https://docs.google.com/forms/d/1ssR9lwBO-8Z0qygh89Wu5XK6YwxSmjIFUtOwlJOjLWw/viewform?entry.804197744={{user.username}}" target="_blank">Project Central</a></h3>
    <h3><a href="https://docs.google.com/forms/d/1SKjXMmDgXeM0IFp0yiJTJgLt6smP8b3P3dbOb4AWTck/viewform?entry.804197744={{user.username}}" target="_blank">Grant application</a></h3>
    <br>
  </div>
  <div class="module" id="resources-module">
    <h2>Additional resources</h2>
    <h3><a href="https://docs.google.com/forms/d/1srZAM_D4FDDt-AjJuOHqQlaysxJ5qH8kVKFOvsWZBVE/viewform?entry.1708036642={{user.username}}&entry.1767194948&entry.1155321034&entry.1319351054" target="_blank">Request a feature</a></h3>
    <h3><a href="mailto:techsupport@socialjusticefund.org" target="_blank">Email tech support</a></h3>
    <br>
  </div>
  {{ block.super }}
</div>
{% endblock sidebar %}
