<div class="home-section">
  <div align="center">
    <h3>Eligibility Information & Resources</h3>
  </div>

  <h4>Eligibility</h4>
  <p>
  <i>If you have not received a Social Justice Fund grant before, please fill out this <a href="http://www.surveymonkey.com/s/LJLB7Z8" target="_blank"><strong>brief pre-application questionnaire</strong></a> before you begin your application. Please note this does not apply to the EPIC Zero Detention Project; organizations interested in applying for that cycle should contact Project Manager Karen Toering directly at <a href="mailto:karen@socialjusticefund.org">karen@socialjusticefund.org</a>.</i>
  </p>
  <p>
    To be eligible for any Social Justice Fund grant program, an organization must:
  </p>
  <ul>
    <li>
      Be an organized group of people (we do not fund individuals).
      <ul>
        <li>
          If your organization is a nonprofit with 501(c)3 or 501(c)4 status as determined by the
          IRS, or be a federally recognized American Indian tribal government or agency OR is
          fiscally sponsored by 501(c)3 or 501(c)4 organizations or by federally recognized tribal
          governments, you can apply.
        </li>
        <li>
          If your organization is not incorporated or fiscally sponsored, you can probably
          still apply, but you must speak with SJF program staff first.
        </li>
      </ul>
    </li>
    <li>
      Be led by people who are most directly affected by the problems that the organization or
      project is addressing.
    </li>
    <li>Carry out most of its work in Idaho, Montana, Oregon, Washington, and/or Wyoming.</li>
    <li>Satisfy evaluation requirements for all previous Social Justice Fund grants.</li>
  </ul>

  Additional information:
  <ul>
    <li><a href="http://socialjusticefund.org/sites/default/files/2016%20Guidelines.pdf" target="_blank">Social Justice Fund Grant Guidelines</a></li>
    <li><a href="http://www.socialjusticefund.org/sites/default/files/SJF%20Grantmaking%20Case%20Statement_0.pdf" target="_blank">SJF Grantmaking Case Statement</a> and <a href="http://www.socialjusticefund.org/sites/default/files/SJF%20Granting%20Criteria%20-%20for%20Grant%20Reviewers_0.pdf" target="_blank">SJF Granting Criteria</a> (used by our volunteer grantmakers to help guide their screening process)</li>
  </ul>

  <h4>More information</h4>
  <p>Each cycle has an information page with more detailed information.</p>
  <p>If you have any questions, contact Program Director Yasmeen Perez by <a href="mailto:yasmeen@socialjusticefund.org">email</a> or by calling (206) 624-4081.</p>
</div>

