<script type="text/javascript">
  var text_progress = false;
  if (Modernizr.inlinesvg) {

    var options = {
      chartArea: {left: 0, top: 8, width: '100%', height: '85%'},
      legend: {alignment: 'center', textStyle: {fontSize: 11}},
      tooltip: {showColorCode: false, textStyle: {fontSize: 14}},
      slices: [{color: 'green'}, {color: '#d18316'}, {color: '#8b0e04'}],
      pieSliceText: 'none',
      pieSliceTextStyle: {fontSize: 14},
      reverseCategories: true,
      sliceVisibilityThreshold:0
    };

    function drawContactsChart() {
			chart_div = document.getElementById('chart_div');
			if (chart_div) {
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Status');
				data.addColumn('number', 'Contacts');
				data.addRows([
					["Haven't contacted", {{ progress.contacts_remaining }}],
					['Talked to', {{ progress.talked }}],
					['Asked', {{ progress.asked }}]
				]);

				var chart = new google.visualization.PieChart(chart_div);
				chart.draw(data, options);
				if ({{ progress.estimated }} > 0) {
					drawFundraisingChart();
				}
			} else {
				console.warn('no chart div found');
			}
    }

    function drawFundraisingChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Status');
      data.addColumn('number', 'Amount');
      data.addRows([
        ['Remaining', {{ progress.togo|default:'0'}}],
        ["Promised", {{ progress.promised }}],
        ['Received', {{ progress.received }}]
      ]);

      var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
      chart.draw(data, options);
    }

    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawContactsChart);

  } else {
    console.log('Browser does not support charts');
    text_progress = true;
  }

  function textProgress() {
    chart = document.getElementById('chart_div');
		if (chart) {
			chart.innerHTML = "<br><br>Haven't contacted: {{ progress.contacts_remaining }}<br>Talked to: {{ progress.talked }}<br>Asked: {{ progress.asked }}";
			if ({{ progress.estimated }} > 0) {
				document.getElementById('chart_div2').innerHTML = "<br><br>Remaining: ${{ progress.togo|default:'0'}}<br>Promised: ${{ progress.promised }}<br>Received: ${{ progress.received }}";
			}
		} else {
			console.log('no chart div, not running textprogress');
		}
  }
</script>
<script type="text/javascript">
  $(document).ready(function() {
    var load = '{{ load }}';
    var loadto = '{{ loadto }}';
    if (load) {
      loadView(load, loadto);
    }
    if (text_progress) {
      textProgress();
    }
  });
</script>
