{% extends 'base.html' %}

{% block title %}- Project Central{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/fundraising.css">
{% endblock style %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  {# google analytics #}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28076150-2']);

    {# custom variable #1 user type, session level #}
    _gaq.push(['_setCustomVar', 1, 'User type', {% if user.username == 'sjfnwads@gmail.com' %}'Aisa'{% elif user.is_staff %}'Staff'{% elif request.user.member %}'Member'{% elif user.is_authenticated %}'User without Member obj'{% else %}'Anonymous'{% endif %}, 2]);
    {# custom variable #2 giving project, page level #}
    _gaq.push(['_setCustomVar', 2, 'Giving project', {% if request.membership %}'{{request.membership.giving_project}}'{% else %}'None'{% endif %}, 3]);

    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endblock script %}

{% block body %}
  <div class="center" id="header">
    <div id="logo">
      <a href="/fund"><img src="/static/images/logo2.png" alt="Project Central logo"></a>
    </div>
    {% block header %}{% endblock header %}
  </div>
  {% block top %}{% endblock %}
  <div class="content_area">
    {% block content %}{% endblock %}
  </div>
  {% include 'fund/includes/footer.html' %}
{% endblock body %}
