{% extends 'fund/_base_personal.html' %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  {% include 'fund/scripts/home_charts.html' %}
{% endblock %}

{% block content %}
  <div id="form_saved"></div> {# TODO what is this #}

  {% if notif %}
  <div id="notifications" class="center">{{ notif|safe }}</div>
  {% endif %}

  {% if donor_list.0 %}
  <div class="header">YOUR PROGRESS</div>
  <div class="progress">
    <div class="half">
        <div id="contacts">{{ progress.contacts }} contacts</div>
        <div id="chart_div" class="chart"></div>
    </div>
    {% if progress.estimated > 0 %}
    <div class="half">
        <div id="fund-goal" title="Personal fundraising goal of ${{ progress.estimated }} calculated based on your ask amount and estimated likelihood for each contact">{{ progress.header }}</div>
        <div id="chart_div2" class="chart"></div>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div class="header" id="your-contacts">YOUR CONTACTS &amp; NEXT STEPS</div>
  {% if donor_list.0 %}
    {% if not load %} {# add contacts link only if mass add won't be showing #}
    <div class="edit_done">
      [<a onclick="loadView('{% url 'sjfnw.fund.views.add_mult' %}', 'addmult')">add contacts</a>]
    </div>
    {% endif %}
    {# this div is where form to add multiple donors is placed #}
    <div class="donor indent" id="addmult"></div>
  {% endif %}


  {% for d in donor_list %}
    {% include 'fund/includes/donor_details.html' %}
  {% empty %}{# no contacts yet #}
    {% if fd %}{# add estimates #}
      {% include 'fund/forms/add_estimates.html' %}
    {% else %}{# add contacts #}
      <div class="donor indent" id="addmult">
        <p>You don't have any contacts yet!  Get started by adding some.  You'll be able to add, change or remove contacts at any time.</p>
        {% include mult_template %}
      </div>
    {% endif %}
  {% endfor %}

{% endblock content %}
