{% extends 'fund/_base_personal.html' %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/libs/modernizr.custom.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  {% include 'scripts/home-charts.html' %}
{% endblock %}

{% block content %}
  <div id="form_saved"></div> {# TODO what is this #}

  {% if notif %}<div id="notifications">{{ notif|safe }}</div>{% endif %}

  {% if donor_list.0 %}
  <span class="header">YOUR PROGRESS</span>
  <table style="width:90%;margin-left:8%;margin-top:10px;margin-bottom:15px;text-align:center;">
    <tr>
      <td>
        <div align="center">{{ progress.contacts }} contacts</div>
        <div align="center" id ="chart_div" style="width:240px;height:110px;margin-left:auto;margin-right:auto;"></div>
      </td>
      {% if progress.estimated > 0 %}
      <td>
        <div align="center" title="Personal fundraising goal of ${{ progress.estimated }} calculated based on your ask amount and estimated likelihood for each contact">{{ progress.header }}</div>
        <div align="center" id="chart_div2" style="width:260px;height:110px;margin-left:25px;"></div>
      </td>
      {% endif %}
    </tr>
  </table>
  {% endif %}

  <span class="header" id="your-contacts">YOUR CONTACTS &amp; NEXT STEPS</span>

  {% if donor_list.0 %}
    {% if not load %} {# add contacts link only if mass add won't be showing #}
    <div class="edit_done">
      [<a onclick="loadView('{% url 'sjfnw.fund.views.add_mult' %}', 'addmult')">add contacts</a>]
    </div>
    {% endif %}
    {# this div is where form to add multiple donors is placed #}
    <div class="donor indent" id="addmult"></div>
  {% endif %}


  {% for d in donor_list %}
    {% include 'fund/includes/donor_details.html' %}
  {% empty %}{# no contacts yet #}
    {% if fd %}{# add estimates #}
      {% include 'fund/forms/add_estimates.html' %}
    {% else %}{# add contacts #}
      <div class="donor indent" id="addmult">
        <p>You don't have any contacts yet!  Get started by adding some.  You'll be able to add, change or remove contacts at any time.</p>
        {% include mult_template %}
      </div>
    {% endif %}
  {% endfor %}

{% endblock content %}
