{% extends request.is_ajax|yesno:"base_ajax.html,fund/_base_personal.html" %}
{% block content %}

<div id="addmult-wrapper">
  <form id="add-contacts" method="post" action="" accept-charset="UTF-8">
    <table class="form" id="add_form" style="text-align:center">
    {{ formset.management_form }}

      {% for form in formset %}

      {# print field labels #}
      {% if forloop.counter == 1 %}
      <div id="field-labels">
        {% for field in form %}
        {% if forloop.counter < 3 %}
          <div class="form-field third">
          {{ field.label}} </div>
        {% elif field.name != 'confirm' %}
          <div class="form-field sixth">
          {{ field.label }} </div>
        {% endif %}
        {% endfor %}
        {{ empty_error|safe }}
      {% endif %}
      </div>

      {# print input fields #}
      <div class="form-row">
        {% for field in form %}
        {% if forloop.counter < 3 %}
          <div class="form-field third">
          {{ field.errors }}{{ field }} </div>
        {% elif field.name != 'confirm' %}
          <div class="form-field sixth">
          {{ field.errors }}{{ field }}</div>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </table>
  </form>

  <div id= "add-row" align="right" style="margin-right:40px;">
    <a onclick="addRow()">Add more contacts</a>
  </div>
  <div align="center">
    <img class="ajax-loading" src="/static/images/ajaxloader.gif" style="display:none;" alt="Loading..."><br>
    <button onclick="Submit('{{ request.path }}', '#add-contacts', 'addmult-wrapper')">Save</button>
    <button onclick="location.href='/fund/'">Cancel</button>
  </div>
</div>
{% endblock %}
