<form class="complete-step" data-step="{{ step_id }}" method="post" action="{{ action }}">

  <h3>1) Complete a step: {{ step }}</h3>

  <div class="form-row text-center">
    <div id="asked" class="form-field third">
      {% if donor.asked %}
      Asked.
      {% endif %}
      <label id="{{ step_id }}_asked">
        Asked {{ form.asked }}
      </label>
    </div>

    <div id="response" class="form-field third">
      {% if donor.promised == 0 %}
        Declined.
      {% elif donor.promised %}
        Promised ${{ donor.promised }}.
      {% endif %}
      <label id="{{ step_id }}_response">
        Response {{ form.response }}
      </label>
    </div>
    
    <div id="promised-amount" class="form-field third">
      {{ form.promised_amount.errors }}
      <label id="{{ step_id }}_promise">
        Promised ${{ form.promised_amount }}
      </label>
    </div>
  </div>

  {# promise follow-up, initially hidden #}

  <div id="{{ step_id }}_promise_follow" class="promise-followup">

    <p>Congratulations on a successful ask!</p>
    <p>Please provide some more information so that Social Justice Fund can follow up on the promise as needed.</p>

    <div class="form-row">
      <div class="form-field third">
        {{ form.last_name.errors }}
        <label>Last name</label>
        {{ form.last_name }}
      </div>

      <div class="form-field third">
        {{ form.phone.errors }}
        <label>Phone number</label>
        {{ form.phone }}
      </div>

      <div class="form-field third">
        {{ form.email.errors }}
        <label>Email address</label>
        {{ form.email }}
      </div>
    </div>

    <div class="form-row">
    
      <div class="form-field two-thirds multiple-choice">
        {{ form.promise_reason.errors }}
        {{ form.promise_reason.label }}
        {{ form.promise_reason }}
      </div>
      <div class="form-field third">
        {{  form.likely_to_join.errors }}
        {{ form.likely_to_join.label }}
        {{ form.likely_to_join }}
      </div>
    </div>
  </div> 

  <h3>2) Update your notes for this contact <i>(optional)</i></h3>
  <div class="form-field">
    <label>Notes:</label>
    {{ form.notes }}
    {{ form.notes.errors }}
  </div>

  <h3>3) Plan a next step <i>(optional)</i></h3>

  <div class="form-row">
    <div class="form-field third">
      Date: {{ form.next_step_date.errors }}
      {{ form.next_step_date }}
      Description: {{ form.next_step.errors }}
      {{ form.next_step }}
    </div>

    <div class="two-thirds">
      {% include 'fund/includes/suggested_steps.html' %}
    </div>
  </div>

</form>
<div class="form-row text-center">
  <img class="loading" src="/static/images/ajaxloader.gif" alt="Loading...">
  <button class="submit" onclick="Submit('{{ action }}', '#{{ step_id }}-complete-step', '{{ donor.pk }}-nextstep', 'date', '{{ donor.asked }}', '{{ donor.promised }}')">Save</button>
  <button class="cancel" onclick="location.href='/fund/'">Cancel</button>
</div>
