{% extends request.is_ajax|yesno:"base_ajax.html,fund/_base_personal.html" %}
{% block content %}
<div id="gp-survey-wrapper">
  <p>{{ survey.intro }}</p>
  <form id="gp-survey" method="post" action="" accept-charset="UTF-8">
    {{ form.non_field_errors }}
    {% for field in form %}
     {{ field.errors }}{{ field }}
    {% endfor %}
  </form>
  <div align="center">
    <img class="ajax-loading" src="/static/images/ajaxloader.gif" style="display:none;" alt="Loading..."><br>
    <button onclick="Submit('{{ request.path }}', '#gp-survey', 'gp-survey-wrapper')">Save</button>
  </div>
</div>
{% endblock content %}
