/** CUSTOM ADMIN STYLE OVERRIDES **/

/* Index page
 *------------*/

/* home page sidebar */
.module h2,
.module caption,
.inline-group h2 {
  font-size: 12px;
}

/* Changelist
 *------------*/

.extra-action {
  float: right;
  z-index: 1;
}

/* Toggle-able filter sidebar -- don't shrink results around it */
.change-list .filtered .results,
.change-list .filtered .paginator,
.filtered #toolbar,
.filtered div.xfull {
  margin-right: 0 !important;
}

#changelist-wrapper {
  width: 200px;
  float: right;
  position: absolute;
  right: 0;
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
}

#changelist-filter {
  height: 100%;
  position: relative;
  width: 100%;
  display: none;
}

#filter-header {
  padding: 7px 2px;
  font-size: 12px;
}

#filter-toggle {
  color: #fff;
  float: right;
}

/* Edit/change page
 *------------------*/

/* used at top of some model pages (e.g. Org) */
#top_help_text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  width: 90%;
  line-height: 1.2em;
}

/* make help text readable */
p.help {
  font-size: 12px !important;
  font-weight: normal;
}

/* align help text better */
form .aligned p.help {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

/* reduce extra padding before first row in inline */
.has_original td {
  padding-top: .5em !important;
}

/* Model-specific
 *----------------*/

/* user permissions box */
#id_permissions {
    height: 400px;
}

/* block the + button next to a dropdown in an inline */
.grants-grantapplication .add-another,
.grants-organization .add-another {
  display: none;
}

.survey-choice {
  display: block;
}
