/** GENERAL **/


body {
  width: 640px;
  margin-top: 0; /* reset browser margin */
}

div.content_area {
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #C07205;
  padding: 15px;
  margin-bottom: .5em;
}

.content_area .header { /* TODO use h element */
  text-transform: uppercase;
  font-weight: bold;
  font-size: inherit;
}

/** HEADER **/

#logo {
  display: inline-block;
  vertical-align: middle;
}

#header {
  margin: 20px 10px;
  height: 82px;
}

#header-text {
  display: inline-block;
  width: 450px;
  font-size: 2em;
  font-weight: bold;
}

/** BLOCKS **/

#block_container {
  width: 640px;
  height: 184px;
  color: white;
}

.top_block {
  width: 200px;
  height: 180px;
  background-color: #444;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  float: left;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.top_block: hover {
  opacity: 0.9;
  position: relative;
}

.active_block {
  background-color: #D18316;
  border-color: #C07205;
}

.block_header {
  font-weight: bold;
  text-align: center;
}

.block-step {
  margin: 10px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-item {
  margin: 10px;
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-bottom {
  position: absolute;
  bottom: 3px;
  margin: 10px;
}

#blockline_container {
  width: 640px;
  height: 15px;
  color: white;
}

.active_line {
  border-right: solid 2px #C07205;
}

/** HOME PAGE **/

.checkmark {
  width: 12px;
  content: url('/static/images/check.png');
}

#progress {
  width:90%;
  margin-left:8%;
  margin-top:10px;
  margin-bottom:15px;
  text-align:center;
}

.chart {
  width:240px;
  height:110px;
  margin-left:auto;
  margin-right:auto;
}

/* forms */

.loading {
  display: none;
}

form {
  display: inline;
}

#add-row {
  float: right;
  margin-right: 40px;
}

/* notifications */

#notifications {
  width: 80%;
  margin: 10px auto 25px auto;
  padding: 15px;
  border: 4px dotted green;
}

.odo_float_right {
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-left: 8px;
}

.odo_float_left {
  float: left;
}

/* contacts list */
.donor {
  line-height: 1.25em;
}

.donor-border {
  border: 1px solid #555;
  border-radius: 8px;
}

.donor_delete {
  text-align: center;
}

.edit_done {
  float: right;
}

a.edit_done {
  margin-left: 2px;
  margin-right: 2px;
}

.overdue_step {
  color: red;
  font-weight: bold;
}

/* datepicker */

.ui-datepicker {
  background-color: #FFF;
  border: 1px solid;
  border-color: #aaa;
  display: none;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-next {
  float: right;
}

.suggested-steps {
  text-align: center;
}

.suggested_step {
  padding: 4px;
  margin: 4px;
  background-color: #EEE;
  border: 1px solid;
  border-color: #333;
  cursor: pointer;
  display: inline-block;
}

.suggested_step: hover {
  border-color: black;
}

.promise-followup {
  padding: 0 10px;
  display: none;
  width: 90%;
}

.form-row {
  padding: 5px 0;
  width: 100%;
}

.form-field {
  display: inline-block;
}

.form-field input {
  max-width: 90%;
}

.complete-step h3 {
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  color: #000;
  font-weight: normal;
}

.form-field>label {
  font-weight: bold;
}

.form-field .errorlist {
  display: block;
  margin: 0;
}

#stepmult {
  margin-top: 15px;
}

#stepmult input {
  margin-left: auto;
  margin-right: auto;
}

/** copy contacts **/

input[readonly="True"] {
  border: none;
  text-align: inherit;
}

/** gp surveys **/

#gp-survey ul {
  list-style-type: none;
  padding-left: 20px;
}

#survey-questions tr {
  vertical-align: top;
}

.survey-text {
  display: block;
  margin-top: .5em;
}

/** PROJECT PAGE **/

.calendar-container {
  font-family: Verdana, sans-serif;
}

.news-item {
  margin: 1em 0;
}

/** ERROR/ACCESS PAGES **/

.error_message {
  font-weight: bold;
}

/** nav  **/
.nav {
  width: 640px;
  padding: 0 .5em;
}

.nav td {
  width: 33%;
}

.footer {
  font-size: .85em;
  margin: 3em auto 1em auto;
}


/* generic */

.indent p {
  margin: 0 0 1em 0;
}

.load {
  cursor: pointer;
  color: #8B0E04;
}
