{# display an individual donor on the home page #}
{% load intcomma from humanize %}

<div class="donor indent" id="donor-{{ donor.pk }}">

  {# line 1: name & progress summary #}
  <div>
    <a onclick="toggle('details-{{ donor.pk }}', 'donor-{{ donor.pk }}')">
      <b>{{ donor.firstname }} {{ donor.lastname }}</b>
    </a>
    {% if donor.summary %}
      <div class="edit_done">
        <i class="checkmark"></i>{{ donor.summary }}
      </div>
    {% endif %}
  </div>

  {# line 2: next step or link to add one #}
  <div id="{{ donor.pk }}-nextstep">
  {% if donor.next_step %}
    {# next step summary #}
    {% if donor.next_step.overdue %}
      <span title="This step's goal date has passed! Edit or complete it">
        <span class="overdue_step">!</span> {{ donor.next_step }}
      </span>
    {% else %}
      {{ donor.next_step }}
    {% endif %}
    {# edit/complete links #}
    <div class="edit_done">
      [<span class="load"
             data-url="{% url 'sjfnw.fund.views.edit_step' donor_id=donor.pk step_id=donor.next_step.pk %}"
             data-target="{{ donor.pk }}-nextstep">
        edit step
      </span> |
      <span class="load"
            data-url="{% url 'sjfnw.fund.views.complete_step' donor_id=donor.pk step_id=donor.next_step.pk %}"
            data-target="{{ donor.pk }}-nextstep"
            data-asked="{{ donor.asked }}"
            data-promised="{{ donor.promised }}">
        complete
      </span>]
    </div>

  {% else %}{# no next step #}
    {% if donor.promised == None and donor.received == 0 %}
    No next step. <span class="load" data-url="{% url 'sjfnw.fund.views.add_step' donor_id=donor.pk %}"
                        data-target="{{ donor.pk }}-nextstep"> Add one.</span>
    {% endif %}
  {% endif %}
  </div>

  {# donor details (initially hidden) #}
  <div class="donor_details indent hidden" id="details-{{ donor.pk }}">

    {# gift received #}
    {% if donor.received > 0 %}
      <p>Received by SJF: ${{ donor.received|intcomma }}</p>
      <p>Original estimation: ${{ donor.estimated|intcomma }}</p>

    {# no gift, but promise #}
    {% elif donor.promised != None %}
      <p>
        {% if donor.promised > 0 %}
          Promised by contact: ${{ donor.promised|intcomma }} <br>
            {% if donor.match_expected > 0 %} {# if gift match expected #}
                Expected employer match: ${{ donor.match_expected|intcomma }} <br>
            {% endif %}
          <strong>Total promised: ${{ donor.total_promised|intcomma }}</strong>
        {% else %}
          Declined to donate.
        {% endif %}
      </p>
      <p>Original estimation: ${{ donor.estimated|intcomma }}</p>
      {# no promise, but asked #}
      {% elif donor.asked %}
        <p>Asked; awaiting response.</p>

      {# no ask, but estimates #}
      {% elif donor.amount %}
        <p>Amount to ask: ${{ donor.amount|intcomma }}</p>
        <p>Likelihood: {{ donor.likelihood }}%</p>
      {% endif %}

      {# basic fields #}
      {% if donor.email or donor.phone %}
        <p>Contact info: {{ donor.email|default:""}} {{ donor.phone|default:""}}</p>
      {% endif %}
      <p>Notes: {{ donor.notes|default:"<i>None entered.</i>"}}</p>

      {# list of completed steps #}
      {% if donor.completed_steps %}
        <p>
          Completed steps:
          {% if not donor.next_step %}
            <span class="load" data-url="{% url 'sjfnw.fund.views.add_step' donor_id=donor.pk %}"
                  data-target="{{ donor.pk }}-nextstep">
              [add another]
            </span>
          {% endif %}
        </p>
        <ul>
        {% for step in donor.completed_steps %}
          <li>{{ step.date|date:"n/d/y"}}: {{ step.description }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </table>
    <br>

    {# delete/edit links #}
    <div class="donor_delete" id="delete-{{ donor.pk }}">
      [<span class="load" data-url="{% url 'sjfnw.fund.views.edit_contact' donor_id=donor.pk %}"
             data-target="donor-{{ donor.pk }}">edit contact</span>]&nbsp;
      [<span class="load" data-url="{% url 'sjfnw.fund.views.delete_contact' donor_id=donor.pk %}"
             data-target="delete-{{ donor.pk }}">remove contact</span>]
    </div>
  </div>
</div>
