{# used to display an individual donor on the home page #}
{% load intcomma from humanize %}
{% with pk=d.donor.pk %}

<div class="donor indent" id="donor-{{ pk }}">

  {# line 1: name & progress summary #}
  <div>
    <a onclick="toggle('details-{{ pk }}', 'donor-{{ pk }}')">
      <b>{{ d.donor.firstname }} {{ d.donor.lastname }}</b>
    </a>
    {% if d.summary %}
      <div class="edit_done">
        <i class="checkmark"></i>{{ d.summary }}
      </div>
    {% endif %}
  </div>

  {# line 2: next step or link to add one #}
  <div id="{{ pk }}-nextstep">
  {% if d.next_step %}
    {# next step summary #}
    {% if d.overdue %}
      <span title="This step's goal date has passed! Edit or complete it">
        <span class="overdue_step">!</span> {{ d.next_step }}
      </span>
    {% else %}
      {{ d.next_step }}
    {% endif %}
    {# edit/complete links #}
    <div class="edit_done">
      [<span class="load"
             data-url="{% url 'sjfnw.fund.views.edit_step' donor_id=pk step_id=d.next_step.pk %}"
             data-target="{{ pk }}-nextstep">
        edit
      </span> |
      <span class="load"
            data-url="{% url 'sjfnw.fund.views.complete_step' donor_id=pk step_id=d.next_step.pk %}"
            data-target="{{ pk }}-nextstep"
            data-asked="{{ d.donor.asked }}"
            data-promised="{{ d.donor.promised }}">
        complete
      </span>]
    </div>

  {% else %}{# no next step #}
    {% if d.donor.promised == None and d.donor.received == 0 %}
    No next step. <span class="load" data-url="{% url 'sjfnw.fund.views.add_step' donor_id=pk %}"
                        data-target="{{ pk }}-nextstep"> Add one.</span>
    {% endif %}
  {% endif %}
  </div>

  {# donor details (initially hidden) #}
  <div class="donor_details indent hidden" id="details-{{ pk }}">

      {# gift received #}
      {% if d.donor.received > 0 %}
        <p>Received by SJF: ${{ d.donor.received|intcomma }}</p>
        <p>Original estimation: ${{ d.donor.estimated|intcomma }}</p>

      {# no gift, but promise #}
      {% elif d.donor.promised != None %}
        <p>
          {% if d.donor.promised > 0 %}
            Promised: ${{ d.donor.total_promised|intcomma }}
          {% else %}
            Declined to donate.
          {% endif %}
        </p>
        <p>Original estimation: ${{ d.donor.estimated|intcomma }}</p>
      {# no promise, but asked #}
      {% elif d.donor.asked %}
        <p>Asked; awaiting response.</p>

      {# no ask, but estimates #}
      {% elif d.donor.amount %}
        <p>Amount to ask: ${{ d.donor.amount|intcomma }}</p>
        <p>Likelihood: {{ d.donor.likelihood }}%</p>
      {% endif %}

      {# basic fields #}
      {% if d.donor.email or d.donor.phone %}
        <p>Contact info: {{ d.donor.email|default:""}} {{ d.donor.phone|default:""}}</p>
      {% endif %}
      <p>Notes: {{ d.donor.notes|default:"<i>None entered.</i>"}}</p>

      {# list of completed steps #}
      {% if d.complete_steps %}
        <p>Completed steps:</p>
        <ul>
        {% for step in d.complete_steps %}
          <li>{{ step.date|date:"n/d/y"}}: {{ step.description }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </table>
    <br>

    {# delete/edit links #}
    <div class="donor_delete" id="delete-{{ pk }}">
      [<span class="load" data-url="{% url 'sjfnw.fund.views.edit_contact' donor_id=pk %}"
             data-target="donor-{{ pk }}">edit contact</span>]&nbsp;
      [<span class="load" data-url="{% url 'sjfnw.fund.views.delete_contact' donor_id=pk %}"
             data-target="delete-{{ pk }}">remove contact</span>]
    </div>
  </div>
</div>
{% endwith %}
