{% extends 'grants/base.html' %}

{% block title %}Grant cycle information | {{block.super}}{% endblock %}

{% block content %}
<br>
<br>
<h3>Please review grant cycle information below before beginning the application</h3>

{% if cycle.is_open %}
  <div align="center">
    <button class="apply-now" onclick="location.href='/apply/{{ cycle.pk }}'">Continue to application</button>
  </div>
  <hr>
{% endif %}

<div id="cycle-info" class="info-frame">
  {{ content|safe }}
</div>

{% if cycle.is_open %}
  <hr>
  <div align="center">
    <button class="apply-now" onclick="location.href='/apply/{{ cycle.pk }}'">Continue to application</button>
  </div>
  <br>
  <br>
{% endif %}

{% endblock %}

