{% extends 'grants/base.html' %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block script %}
<script type="text/javascript">
  // confirmation window before discarding a draft
  function confirmation(draft_pk) {
    var conf = confirm("Discard this draft? It cannot be recovered.")
    if (conf) {
      $.ajax({
        url: '/apply/draft/' + draft_pk + '{{ user_override|default:'' }}',
        type: 'DELETE',
        error: function(jqXHR, textStatus) {
          logError({ jqXHR: jqXHR, textStatus: textStatus });
        },
        success: function(data, textStatus, jqXHR) {
          window.location.reload();
        }
      });
    }
  }
</script>
{% endblock script %}

{% block content %}
{% load tz %}{% load humanize %}

<div class="home-section">
  <div align="center">
    <h3>{{ organization }}</h3>
  </div>

  <h4>Saved drafts</h4>

    <table class="org">
      <tbody>

      {% for draft in drafts %}
        <tr>
        {% if draft.editable %}
          <td class="bullet">
            {{ draft.grant_cycle }}
          </td>
          <td>
            {% if draft.grant_cycle.info_page %}
              <a href="/apply/info/{{ draft.grant_cycle.pk }}" target="_blank">Cycle info</a>
            {% endif %}
          </td>
          <td>
            <a href="/apply/{{ draft.grant_cycle.pk }}{{ user_override|default:'' }}"><b>Edit draft</b></a>
          </td>
          <td>
            Last modified {{ draft.modified|date:"n/j" }}
          </td>
          <td class="due">
            Due
            {% if draft.extended_deadline %}
              {{ draft.extended_deadline|date:"n/j g:iA"|lower }}
            {% else %}
              {{ draft.grant_cycle.close|date:"n/j g:iA"|lower }}
            {% endif %}
          </td>

        {% else %}{# not editable #}
          <td class="inactive bullet">
            {{ draft.grant_cycle }}
          </td>
          <td colspan="4" class="inactive">
            Closed {{ draft.grant_cycle.close|date:"n/j" }}
          </td>
        {% endif %}

        <td>
          [<a title="discard draft" onclick="confirmation('{{ draft.pk }}', '{{ draft.grant_cycle }}')">Discard</a>]
        </td>

      </tr>
      {% endfor %}

      {% for draft in ydrafts %}
      <tr>
        <td class="bullet">
          Year end report - {{ draft.award.projectapp.giving_project }}
        </td>
        <td></td>
        <td>
          <b><a href="/report/{{ draft.award_id }}{{ user_override|default:'' }}">Edit draft</a></b>
        </td>
        <td>
          Last modified {{ draft.modified|date:"n/j" }}
        </td>
        <td class="due">
          Due {{ draft.award.next_yer_due|date:"n/j/y" }}
        </td>
        <td></td>
      </tr>
      {% endfor %}

      {% if not drafts and not ydrafts %}
        No saved drafts found
      {% endif %}
    </tbody>
  </table>

  <h4>Submitted applications</h4>

  {% if submitted %}
    <table class="org">
    {% for sub in submitted %}
      <tr>
        <td class="bullet">
          {{ sub.grant_cycle }}
        </td>
        <td>
          <a href="/grants/view/{{ sub.pk }}">View submitted application</a>
        </td>
        <td>
          Submitted {{ sub.submission_time|date:"n/j/y" }}
        </td>
      </tr>

      {% for award in sub.awards %}
      <tr>
        <td></td>
        <td>{{ award }}</td>
        <td>
          {% if award.agreement_mailed %}
            Agreement mailed {{ award.agreement_mailed|date:"n/j/y" }},
            {% if award.agreement_returned %}
              returned {{ award.agreement_returned|date:"n/j/y" }}.
            {% else %}
              <span class="due">due {{ award.agreement_due|date:"n/j/y" }}</span>.
            {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          {% for yer in award.yearendreport_set.all %}
            {% if forloop.counter > 1 %}<br>{% endif %}
            <a href="{% url 'sjfnw.grants.views.view_yer' report_id=yer.pk %}">Year end report</a> submitted {{ yer.submitted|date:"n/j/y" }}.
          {% endfor %}
          {% with next_due=award.next_yer_due %}
            {% if next_due %}
              <div class="due"><a href="/report/{{ award.pk }}{{ user_override|default:'' }}">Year end report</a> due {{ next_due|date:"n/j/y" }}</div>.
            {% endif %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}{# awards #}
  {% endfor %}{# submitted #}
  </table>
  {% else %}{# no submitted #}
    None found
  {% endif %}

  <h4>Tools</h4>
  <ul>
    <li><a href="/apply/copy{{ user_override|default:'' }}">Copy/rollover an application</a></li>
    <li><a href="{% url 'sjfnw.grants.views.rollover_yer' %}{{ user_override|default:'' }}">Copy/rollover a year-end report</a></li>
  </ul>
</div>

<div class="home-section">
  <div align="center">
    <h3>Social Justice Fund grant cycles</h3>
  </div>

  <h4>Currently accepting applications</h4>

  {% if open or applied %}
    <table class="org">
    {% for ope in open %}
      <tr><td>{{ ope }}</td>
      <td>{% if ope.info_page %}<a href="/apply/info/{{ ope.pk }}" target="_blank">Cycle info</a>{% endif %}</td>
      <td><b><a href="/apply/{{ ope.pk }}{{ user_override|default:'' }}">Apply</a></b></td>
      <td>Closes {{ ope.close|date:"n/j/y" }}</a></td>
      </tr>
    {% endfor %}
    {% for appl in applied %}
      <tr><td>{{ appl }}</td>
      <td>{% if appl.info_page %}<a href="/apply/info/{{ appl.pk }}" target="_blank">Cycle info</a>{% endif %}</td>
      <td>Application submitted</td>
      <td>Closes {{ appl.close|date:"n/j/y" }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    No grants are being accepted at this time.
  {% endif %}

  <h4>Upcoming grant cycles</h4>
  <table class="org">
  {%for up in upcoming%}
    <tr>
      <td>{% if up.info_page %}<a href="/apply/info/{{ up.pk }}" target="_blank">{{ up }}</a>{% else %}{{ up }}{% endif %}</td>
    <td>Open {{ up.open|date:"n/j/y" }} to {{ up.close|date:"n/j/y" }}</td>
    </tr>
  {% empty %}
    <tr><td>No upcoming grant cycles.</td></tr>
  {% endfor %}
  </table>

  <h4>Recently closed grant cycles</h4>
  <table class="org">
  {%for cl in closed%}
    <tr>
      <td>{{ cl }}</td>
      <td>open {{ cl.open|date:"n/j/y" }} to {{ cl.close|date:"n/j/y" }}</td>
    </tr>
  {% empty %}
    <tr>
      <td>No grant cycles closed in the last 6 months.</td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class="home-section">
  <div align="center">
    <h3>Eligibility Information & Resources</h3>
  </div>

  <h4>Eligibility</h4>
  <p>
    <i>If you have not received a Social Justice Fund grant before, please fill out this <a href="http://www.surveymonkey.com/s/LJLB7Z8" target="_blank"><strong>brief pre-application questionnaire</strong></a> before you begin your application.</i>
  </p>
  <p>
    To be eligible for any Social Justice Fund grant program, an organization must:
  </p>
  <ul>
    <li>
      Be an organized group of people (we do not fund individuals).
      <ul>
        <li>
          If your organization is a nonprofit with 501(c)3 or 501(c)4 status as determined by the
          IRS, or be a federally recognized American Indian tribal government or agency OR is
          fiscally sponsored by 501(c)3 or 501(c)4 organizations or by federally recognized tribal
          governments, you can apply.
        </li>
        <li>
          If your organization is not incorporated or fiscally sponsored, you can probably
          still apply, but you must speak with SJF program staff first.
        </li>
      </ul>
    </li>
    <li>
      Be led by people who are most directly affected by the problems that the organization or
      project is addressing.
    </li>
    <li>Carry out most of its work in Idaho, Montana, Oregon, Washington, and/or Wyoming.</li>
    <li>Satisfy evaluation requirements for all previous Social Justice Fund grants.</li>
  </ul>

  Additional information:
  <ul>
    <li><a href="http://socialjusticefund.org/sites/default/files/2016%20Guidelines.pdf" target="_blank">Social Justice Fund Grant Guidelines</a></li>
    <li><a href="http://www.socialjusticefund.org/sites/default/files/SJF%20Grantmaking%20Case%20Statement_0.pdf" target="_blank">SJF Grantmaking Case Statement</a> and <a href="http://www.socialjusticefund.org/sites/default/files/SJF%20Granting%20Criteria%20-%20for%20Grant%20Reviewers_0.pdf" target="_blank">SJF Granting Criteria</a> (used by our volunteer grantmakers to help guide their screening process)</li>
  </ul>

  <h4>More information</h4>
  <p>Each cycle has an information page with more detailed information.</p>
  <p>If you have any questions, contact Program Director Yasmeen Perez by <a href="mailto:yasmeen@socialjusticefund.org">email</a> or by calling (206) 624-4081.</p>
</div>
{% endblock content %}
